.carrusel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 47vw;
    margin-right: 3vw;
}

.carrusel-imgs img {
    width: 100vw;
    height: 46.625vw;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navigation {
    position: absolute;
    top: 45vw;
    right: 24.5vw;
    width: 40vw;
    display: flex;
    justify-content: center;
    gap: 0.62vw;
    z-index: 3;
}

.nav-dot {
    width: calc(1px + 3vw);
    height: 0.3vw;
    background-color: rgb(195,195,195);
    cursor: pointer;
}

.nav-dot.active {
    background-color: rgb(255,255,255);
}

.nav-dot:hover {
    background-color: rgb(215,215,215);
}

.carrusel-main-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 0;
    padding: 0;
}

.carrusel-main-img h2 {
    position: absolute;
    top: 34vw;
    left: 48vw;
    text-align: end;
    font-size: 2.97vw;
    white-space: nowrap;
    font-weight: normal;
}

.carrusel-main-img h3 {
    position: absolute;
    text-align: end;
    color: white;
    font-weight: normal;
    white-space: pre-wrap;
    font-size: 1.85vw;
    left: 53vw;
    top: 18vw;
}

.carrusel-component-2 button,
.carrusel-component-3 button,
.carrusel-component-4 button,
.carrusel-component-5 button,
.carrusel-component-6 button,
.carrusel-component-7 button {
    border-style: outset;
    border-color: white;
    width: calc(5px + 16.5vw);
    height: calc(1px + 3vw);
    font-size: calc(1px + 1.25vw);
    background-color: transparent;
    color: white;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    left: 76vw;
    top: 35vw;
}

.carrusel-component-2 h1,
.carrusel-component-3 h1,
.carrusel-component-4 h1,
.carrusel-component-5 h1,
.carrusel-component-6 h1,
.carrusel-component-7 h1 {
    position: absolute;
    display: flex;
    color: white;
    line-height: 1;
    font-size: 4.07vw;
    white-space: pre-wrap;
    text-align: end;
    z-index: 4;
    cursor: default;
    margin: 0;
    font-weight: normal;
    left: 60vw;
    top: 26vw;
}

.carrusel-component-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vw;
    margin-left: 59vw;
}

.carrusel-component-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vw;
    margin-left: 67vw;
}

.carrusel-component-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vw;
    margin-left: 70vw;
}

.carrusel-component-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vw;
    margin-left: 32.5vw;
}

.carrusel-component-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vw;
    margin-left: 61vw;

}

.carrusel-component-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vw;
    margin-left: 64vw;
}