footer {
    width: 100%;
    background-color: rgb(203,197,187);
    margin: 0;
    padding: 0;
}

.social-icon-foot {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.text-danger {
    font-size: 1.75rem;
    font-weight: normal;
    color: rgb(211, 29, 106);
    cursor: pointer;
    text-decoration: none;
}

.footer-img-conteiner img {
    position: relative;
    left: 32vw;
}