.nav-container-inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: transparent;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.navbar-brand img {
    max-height: calc(1px + 3vw);
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 0.98vw;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.little-triangle {
    width: 3px;
    height: 2px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    font-size: calc(1px + 0.91vw);
    color: #000;
    font-weight: bold;
}

.nav-item:hover {
    color: #6d6767;
}

.social-conteiner {
    margin-left: 3vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.social-icon {
    max-width: calc(1px + 1vw);
    max-height: calc(1px + 1vw);
    cursor: pointer;
}

.trade-mark{
    font-size: calc(1px + 0.55vw);
    font-weight: normal;
    margin: 0;
}

.trade-mark-w {
    color: #fff;
    font-size: calc(1px + 0.55vw);
    font-weight: bold;
    margin: 0;
}

.nav-item-w {
    display: flex;
    flex-direction: row;
    font-size: calc(1px + 0.91vw);
    color: #fff;
    font-weight: normal;
}

.nav-item-w:hover {
    color: #cecbcb;
}