.portfolios-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 3vw;
}

.port-title {
    display: flex;
    font-size: 2.45vw;
    align-items: start;
    margin-left: 7.5vw;
    font-weight: bold;
}

.portfolios-inner{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
}

.inner-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    row-gap: 0;
    column-gap: 1vw;
    margin-top: 2vw;
    list-style: none;
}
.inner-ul li{
    display: flex;
    text-align: center;
    justify-content: center;
}

.port-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: normal;
    color: black;
    white-space: nowrap;
}

.port-button:active,
.port-button:hover,
.port-button.active {
    color: #b6b6b6;
}

.inner-port-component {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    margin-top: 1vw;
    height: calc(20vw * 5);
}

.inner-port-component img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.portfolio-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 214, 208);
}

.portfolio-foot img{
    width: 100%;
    height: 100%;
    transform: scaleY(-1);
    margin-bottom: 6vw;
}

.port-h1-foot {
    font-size: 3.45vw;
    text-align: center;
    white-space: pre-wrap;
}

.go-button {
    border-style: outset;
    border-color: black;
    width: calc(5px + 16.5vw);
    height: calc(1px + 3vw);
    font-size: calc(1px + 1.25vw);
    background-color: transparent;
    color: black;
    cursor: pointer;
    z-index: 4;
    margin-top: 2.5vw;
    margin-bottom: 7.5vw;
}