.services-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(245,245,245);
    padding-top: 3.5vw;
    padding-bottom: 1.75vw;
}

.services-title {
    display: flex;
    font-size: 2.45vw;
    align-items: start;
    margin-left: 7.5vw;
    font-weight: bold;
}

.services-container h2{
    display: flex;
    font-size: 1.85vw;
    align-items: start;
    margin-left: 7.5vw;
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
    font-weight: normal;
}

.services-description{
    font-size: 1.45vw;
    margin-left: 7.5vw;
    white-space: pre-wrap;
    font-weight: normal;
    margin-bottom: 1.75vw;
    font-weight: normal;
}

.services-container p {
    text-align: start;
    margin-left: 7.5vw;
    font-size: 1.45vw;
    white-space: pre-wrap;
    margin-bottom: 3.5vw;
}

.services-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6vw;
}

.component-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 1vw;
}

.component img {
 width: 6vw;
 height: 6vw;
}

.component h3 {
    font-size: calc(2px + 1.4vw);
    font-weight: bold;
    white-space: nowrap;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.component h4 {
    font-size: 1vw;
    line-height: 1.5vw;
    font-weight: normal;
    text-align: center;
    width: calc(20px + 28vw);
    white-space: pre-wrap;
}